@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;


.user-menu {
    // TODO fix menu not moving with the scroll
    position: absolute;
    position-anchor: --user-button;
    position-area: bottom center;
    z-index: 50;
    min-width: 160px;
    margin: 12px 0 0 0;
    padding: 0.5rem;
    background-color: $surface-0;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &__link {
        @include typo-p;
        width: 100%;
        padding: 0.5rem 1rem;
        color: $guidely-primary;
        text-align: start;
        background-color: transparent;
        border: none;
        border-radius: 8px;

        transition: background-color $timing-animation-medium;

        &:hover {
            background-color: $surface-1;
        }

        &--logout {
            color: $color-status-error;
        }
    }

    &::backdrop {
        display: none;
    }
}
