<dialog class="{{className}} user-menu" id="{{id}}" closedby="any">
  <ul class="user-menu__list">
    <li class="user-menu__item">
      <a href="/profile" class="user-menu__link" data-link>Профиль</a>
      <a href="/" class="user-menu__link" data-link>Главная</a>
      <a href="/trip-list" class="user-menu__link" data-link>Мои поездки</a>
      <a href="/favorite" class="user-menu__link" data-link>Избранное</a>
      <button type="button" class="user-menu__link user-menu__link--logout js-logout">
        Выйти
      </button>
    </li>
  </ul>
</dialog>
