@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.like {
    @include typo-p;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: $surface-0;
    border: none;
    border-radius: 50%;
    transition: transform $timing-animation-medium;

    &::before {
        width: 24px;
        height: 24px;
        background-color: $color-interactable-idle;
        mask-image: url("/icons/like-outline.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        transition: background-color $timing-animation-medium;
        content: "";
    }

    &:hover::before {
        background-color: $color-interactable-active;
    }

    &--active::before {
        background-color: $color-interactable-active;
        mask-image: url("/icons/like-solid.svg");
    }
}
