@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.confirm-popup {
    max-width: 370px;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    background-color: $white;
    border: none;
    border-radius: 8px;

    &:open {
        display: flex;
    }

    &__prompt,
    &__note {
        text-align: center;
        text-wrap: balance;
    }

    &__actions {
        display: grid;
        padding-inline: 1.25rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    &__cancel {
        @include button-secondary;
        color: $guidely-secondary;
    }

    &__confirm {
        @include button-primary;
    }
}
