@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.edit-trip {
    width: 50vw;
    padding: 4.25rem 5rem 3.5rem 5rem;
    border: none;
    border-radius: 8px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__date-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.25rem;
    }

    &__actions {
        display: flex;
    }

    &__delete {
        @include button-secondary;
        margin-right: auto;
        padding-inline: 0;
        color: $guidely-secondary;
        text-align: start;
    }

    &__cancel {
        @include button-secondary;
    }

    &__submit {
        @include button-primary;
    }
}
