<section class="about-me">
  <span class="about-me__join-date">В сообществе с {{!-- TODO show user join date --}}</span>
  {{!-- TODO add conditional logic to display suggested actions --}}
  <div class="about-me__suggested">
    <button class="about-me__button">
      <img src="/icons/plus.svg">
      Добавьте первый отзыв
    </button>
    <button class="about-me__button" command="show-modal" commandfor="{{modalId}}" data-focus-field="about">
      <img src="/icons/plus.svg">
      Напишите подробнее о себе
    </button>
  </div>
</section>
