$white: hsl(0 0% 100%);
$black: hsl(0 0% 0%);

$gray-50: hsl(0 0% 98%);
$gray-100: hsl(0 0% 93%);
$gray-150: hsl(0 0% 89%);
$gray-200: hsl(0, 0%, 84%);
$gray-400: hsl(0, 0%, 61%);
$gray-900: hsl(0 0% 10%);

$guidely-primary: hsl(241 100% 55%);
$guidely-secondary: hsl(317 100% 50%);

$vk-primary: hsl(212 100% 50%);
$yandex-primary: hsl(0 0% 0%);

$color-interactable-idle: $gray-400;
$color-interactable-active: $guidely-secondary;
$color-interactable-disabled: $gray-150;

$surface-0: $gray-50;
$surface-1: $gray-150;

$color-text-main: $gray-900;
$color-text-muted: $gray-400;
$color-text-contrast: $gray-100;

$color-border-button: $gray-200;

$color-text-form-field: $black;
$color-border-form-field: $gray-200;
$surface-form-field: $white;

$color-status-error: hsl(317 99% 74%);

$font-header: 'IBM Plex Mono', monospace;
$font-body: 'Winston', sans-serif;

$timing-animation-short: 0.15s;
$timing-animation-medium: 0.3s;
