@use '@/shared/styles/variables' as *;
@use '@/shared/styles/layout' as *;

.trip-detail-page {
    @include default-page-layout;
    gap: 1rem;
    background-color: $surface-0;
}

.main {
    display: flex;
    padding: 0 3rem 3rem;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $surface-0;
}

.add-place {
    display: flex;
    padding: 2.75rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: transparent;
    border: 1px solid $color-border-button;
    border-radius: 8px;

    &__image {
        --size: 20px;

        width: var(--size);
        height: var(--size);
    }
}
