@use '@/shared/styles/variables' as *;
@use '@/shared/styles/layout' as *;

.login-page {
    @include default-page-layout;
}

.log-in {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/log-in-bg.png");
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;

    &__form {
        z-index: 10;
    }

    &::before {
        position: absolute;
        inset: 0;
        z-index: 5;
        background-color: hsl(0 0% 0% / 0.3);
        content: "";
    }
}
