<div class="bio {{className}}">
  <img src="{{user.avatar}}" class="bio__avatar">
  <div class="bio__meta">
    <h3 class="bio__nickname">{{user.nickname}}</h3>
    <p class="bio__location">{{!-- TODO show user location --}}</p>
  </div>
  <p class="bio__about">{{!-- TODO show user about --}}</p>
</div>
