@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.card {
    position: relative;
    display: flex;
    max-height: 250px;
    gap: 1.25rem;
    // TODO figure out color naming
    border: 1px solid $color-border-button;

    &__preview {
        object-fit: cover;
    }

    &__content {
        display: flex;
        padding-block: 1.5rem;
        flex-direction: column;
        align-items: start;
        gap: 0.25rem;
    }

    &__title {
        @include typo-h3;
    }

    &__meta {
        @include typo-p;
        display: flex;
        gap: 1rem;
    }

    &__options {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background-color: transparent;
        border: none;
    }

    &__options-img {
        width: 40px;
        height: 32px;
    }
}
